@inherits LayoutComponentBase

<div class="app-container">
    <div class="app-sidebar">
        <NavMenu />
    </div>

    <main class="app-main">
        <article class="app-content">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
