<div class="nav-header">
    <div class="brand">
        <i class="fas fa-chart-pie"></i>
        <span class="brand-text">Disk Analyzer</span>
    </div>
</div>

<nav class="nav-menu">
    <NavLink class="nav-menu-item" href="" Match="NavLinkMatch.All">
        <i class="fas fa-home"></i>
        <span>Dashboard</span>
    </NavLink>

    <NavLink class="nav-menu-item" href="settings">
        <i class="fas fa-cog"></i>
        <span>Settings</span>
    </NavLink>
</nav>

<div class="nav-footer">
    <div class="version-info">v1.0.0</div>
</div>